<section>
    <div style="margin-top: 5px; text-align: center;">
        <img src="{{ root_url }}/images/me.jpg" alt="">
    </div>

    <h1 class="brand">
    <a href="/">
      Ciro Nunes
      <small>Front-end Engineer</small>
    </a>
    </h1>

    <ul class="nav-main">
      <li>
        <a href="/">Blog</a>
      </li>

      <li>
        <a href="{{ root_url }}/talks">Talks</a>
      </li>

      <li>
        <a href="{{ root_url }}/about">About</a>
      </li>
    </ul>
</section>

<section>
 <ul id="recent_posts" style="text-align: center;">
      <li class="post" style="border: 0; box-shadow: none;">
      <a href="http://github.com/cironunes/"><img width="59" src="{{ root_url }}/images/metro-github.png"></a>
      <a href="http://twitter.com/cironunesdev/"><img width="59" src="{{ root_url }}/images/metro-twitter.png"></a>
      <a href="http://www.linkedin.com/profile/view?id=112850172&authType=name&authToken=N_xi&locale=pt_BR&pvs=pp&trk=ppro_viewmore"><img width="59" src="{{ root_url }}/images/metro-linkedin.png"></a>
      <a href="https://plus.google.com/102454271023172372383?rel=author"><img width="59" src="{{ root_url }}/images/metro-gplus.png"></a>
      <a href="http://facebook.com/cironunesdev/"><img width="59" src="{{ root_url }}/images/metro-facebook.png"></a>
      <a href="{{ site.url }}/archives/"><img width="59" src="{{ root_url }}/images/metro-archive.png"></a>
      <a href="{{ site.url }}/atom.xml"><img width="59" src="{{ root_url }}/images/metro-rss.png"></a>
      <a href="mailto:{{ site.email }}"><img width="59" src="{{ root_url }}/images/metro-email.png"></a>
      </li>
  </ul>
</section>
