<section>
  <ul id="recent_posts">
      <li class="post">
      <a href="{{ site.url }}" alt="Home"><img src="{{ root_url }}/images/Home.png"></a>
      <a href="{{ site.url }}/archives/" alt="Archives"><img src="{{ root_url }}/images/Calendar.png"></a>
      <a href="mailto:{{ site.email }}" alt="E-Mail"><img src="{{ root_url }}/images/Envelope.png"></a>
      <a href="{{ site.url }}/atom.xml" alt="subscribe feed"><img src="{{ root_url }}/images/rss_big.png"></a>
      </li>
  </ul>
</section>

<section>
    <h1>Ciro Nunes</h1>
    <div style="margin-top: 5px;">
        <img src="{{ root_url }}/images/me.jpg" alt="">
    </div>
    <p>I'm a 21 years old Front-end Engineer and Agile Coach. Actually working at <a href="http://beta.kanui.com.br/">Kanui</a></p>
</section>